.p-index-wrap {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 640px) {
    display: block;
    width: 400px;
    max-width: 400px;
  }
  @media screen and (max-width: 880px) {
    display: block;
    max-width: 800px;
  }
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.p-index-heading {
  width: 360px;
  flex-shrink: 0;

  // position: relative;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &__inner {
    // position: sticky;
    top: 0;

    @media screen and (max-width: 1024px) {
      position: relative;
    }
  }
}

.p-index-body {
  flex-grow: 1;
}

.p-index-feeds {
  padding: 1rem 0;
}

.p-index-post {
  background-color: #050a30;
  padding: 8px;
  position: sticky;
  top: 0;

  @media screen and (max-width: 880px) {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }

  &__head {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  &__signin-btn {
    text-align: center;
    margin-top: 12px;
  }

  &__post-btn {
    text-align: right;
  }

  &__editer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__textarea {
    flex-grow: 1;
  }
}

.p-index-post--isLogin {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

.p-index-top-btn {
  position: fixed;
  left: 40px;
  bottom: 40px;

  @media screen and (max-width: 880px) {
    left: 20px;
    bottom: 20px;
  }

  &__btn {
    border: solid 2px #fff;
    margin: 0;
    padding: 0;
    background: #fc5fa1;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 880px) {
      width: 48px;
      height: 48px;
    }
  }

  &__icon {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 1;

    @media screen and (max-width: 880px) {
      font-size: 20px;
    }
  }
}

.p-index-post-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;

  @media screen and (max-width: 880px) {
    right: 20px;
    bottom: 20px;
  }

  &__btn {
    border: solid 2px #fff;
    margin: 0;
    padding: 0;
    background: #fc5fa1;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 880px) {
      width: 48px;
      height: 48px;
    }
  }

  &__icon {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 1;

    @media screen and (max-width: 880px) {
      font-size: 20px;
    }
  }
}
